/* top nav  */
.nav__top__offer {
  width: 100%;
  background: #17274a;

  color: white;
}

.nav__top__data {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* main navbar  */
nav {
  border-bottom: 2px solid lightgray;
}
.main__navbar {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.main__navbar .nav_ham_option {
  display: none;
}

.main__navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-size: 1.3em;
  font-weight: 500;
  height: 100%;
}

.product__nav__all > .__nav__product__hover__ {
  height: 100%;
  text-decoration: none;
  color: black;
  position: relative;
}
.__product__nav__hover__ {
  position: absolute;
  background: white;
  width: 1200px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  top: 70px;
  left: -5px;
  display: flex;
  align-items: center;
  visibility: hidden;
}
.product__nav__all > .onHoverWomen:hover .__product__nav__hover__ {
  visibility: visible;
}

.product__nav__all > .onHoverMen:hover .__product__nav__hover__ {
  visibility: visible;
}

.__nva__jeans__hover__ {
  position: absolute;
  background: white;
  width: 1200px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  top: 70px;
  left: -150px;
  display: flex;
  align-items: flex-start;
  visibility: hidden;
}

.clearance____ {
  left: -220px;
}

.product__nav__all > .onHoverJeans:hover .__nva__jeans__hover__ {
  visibility: visible;
}

.product__nav__all > .onHoverClearance:hover .__nva__jeans__hover__ {
  visibility: visible;
}

.product__nav__all ul {
  list-style: none;
  height: 100%;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.product__nav__all ul:hover {
  text-decoration: underline;
}

.nav__clearance {
  color: red;
}

.main__navbar .nav__logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -30px;
}
.nav__logo {
  width: 25%;
  object-fit: cover;
  margin-top: 3px;
  cursor: pointer;
}
.nav__search {
  border: 2px solid #898989;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px 5px;
  border-radius: 30px;
}
.nav__search input {
  border: none;
  outline: none;
  padding-left: 10px;
  width: 200px;
  height: 25px;
  font-size: 20px;
}
.nav__search input::placeholder {
  font-weight: 500;
}

.nav__shopingbag {
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.nav__shopingbag:hover {
  cursor: pointer;
  color: #243c71;
}

._nav_user {
  position: relative;
  height: 50px;
}

.__show__user__nav {
  position: absolute;
  top: 65px;
  left: -120px;
  visibility: hidden;
}

._nav_user:hover .__show__user__nav {
  visibility: visible;
}

.__nav__res__search__ {
  display: none;
}

.main__navbar .nav__search__cart__user {
  gap: 0px;
}
.main__navbar .fixing__span {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__location {
  margin-left: 15px;
}

.main__navbar .nav__cart__bag {
  position: relative;
}
.cart__quantity {
  position: absolute;
  top: 20px;
  left: 30px;
  background: #005eb8;
  border-radius: 50%;
  padding: 0px 8px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.__show__user__cart__ {
  position: absolute;
  top: 70px;
  right: -5px;
  visibility: hidden;
}

.main__navbar .nav__cart__bag:hover .__show__user__cart__ {
  visibility: visible;
}
/* ------------------------------- responseive  */

@media (max-width: 1024px) {
  .main__navbar > .product__nav__all {
    display: none;
  }

  .nav__search {
    display: none;
  }

  ._nav_user {
    display: none !important;
  }

  .nav__location {
    display: none !important;
  }

  .nav__logo {
    width: 15%;
  }

  .main__navbar .nav_ham_option {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: black;
  }

  .__nav__res__search__ {
    display: block;
    width: 98%;
    margin: auto;
    margin-top: -5px;
    margin-bottom: 5px;
  }
  .__res_nav__search {
    border: 2px solid #898989;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 5px;
    border-radius: 30px;
  }
  .__res_nav__search input {
    border: none;
    outline: none;
    padding-left: 10px;
    width: 100%;
    height: 25px;
    font-size: 20px;
  }
  .__res_nav__search input::placeholder {
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .nav__logo {
    width: 20%;
  }
}

@media (max-width: 425px) {
  .nav__logo {
    width: 40%;
  }
}

@media (max-width: 375px) {
  .nav__logo {
    width: 45%;
  }
  .nav__top__data {
    font-size: 12px;
  }
}
